*{
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
}

nav{
  background-color: black;
}
nav .nav{
  display: flex;
  justify-content: space-around;
  height: 7vh;
}
<!--logo-->
.leftnav{
  font-size:  10px;
  padding: 5px;
}
h1{
  margin: 3px;
  color: white;
}
nav .rightnav{
  padding: 7px;
  
}
.rightnav ul{
  display: flex;
  
}
.rightnav ul li{
  list-style: none;
  
  
  
}
.rightnav ul li a{
   text-decoration: none;
  color: white;
  font-size: 1.0%;
  margin: 5px;
}
.rightnav ul li a:hover{
  font-size: 1rem;
  color: pink;
}
img{
 height:30vh;
 width: 100%;
}
.bgimgdiv{
  width: 100%;
  height: 30vh;
  margin-top: 0.01vh;
  background-image: url(bgimgpath.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 70%;
}
p{
  color: white;
  font-size: 1.3rem ;
  font-weight: 2000px;
}
.bgimgdiv p{
  padding: 30px 10px 10px;

}
button{
  background-color:#fdc538;
  border-radius: 5px;
  height: 6vh;
  margin:0 10px;
  width: 35vw;
  
}
button a{
  text-decoration: none;
  color: #000;
  font-size: 0.2rem;
}
.mainheading{
  font-size: 0.9rem;
  text-align: center;
  margin: 9px 0;
  font-weight: 700px;
}
.menuimg{
  height: 15vh;
  width: 26vw;
  margin: 10px;
  border-radius: 5px;
}
.describe{
  color: white;
  display: flex;
  
  
}
.describe h1{
  font-size: 1.2rem;
  margin: 0 8%;
}
.price{
  display: flex;
}
.price h1{
  font-size: 1.0rem;
  margin: 0 11% ;
}
.footernav{
  font-size: 1rem;
  margin: 2% 30%;
  padding: 10px;
}
.footernav a{
  text-decoration: none;
  color: white;
}
.footerh1 H1{
  font-size: 15px;
  padding: 15px;
}